<section class="d-flex flex-column align-items-center justify-content-center ">
<div class="col-lg-6 text-center">
    <div class="card">
        <div class="card-header">
            <strong>Add Category</strong>
               {{#if catError}}
                <p class="text-danger">Category Already Exist</p>
            {{/if}}
        </div>
        <div class="card-body card-block">
         
            <form action="/admin/category" method="post" class="form-horizontal">

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Category Name</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="CategoryName" name="CategoryName" placeholder=""
                            class="form-control" required></div>
                </div>
                <button type="submit" class="btn btn-primary ">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Categories</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Categry Name</th>
                        {{!-- <th scope="col">action</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each catDetails}}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{this.CategoryName}}</td>
                        {{!-- <td>
                            <a href="/admin/delete-category/{{this._id}}"
                                onclick="return confirm('Do you want to delete this Category')"><i class="fa fa-trash-o"
                                    aria-hidden="true"></i></a>
                        </td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>