<section>
	<div class="container">
		<div class="text-center">
			<img src="/user/img/order.jpg" style="margin-top:5rem ;">
		</div>
		<div>
			<P class="text-center"><a class="btn btn-info " href="/orders">View orders</a></P>
		</div>
	</div>

</section>